* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/*section {
  width: 1920px;
  padding: 138px 466px;
  gap: 10px;
}*/
section {
  width: 100%; /* 화면 너비에 맞춤 */
  max-width: 1920px; /* 최대 너비 제한 (PC 기준) */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
  padding-top: 138px;
  padding-bottom: 138px;
}

@media (max-width: 1199px) {
  section {
    padding: 80px 24px;
  }
}
@media (max-width: 767px) {
  section {
    padding: 40px 8px;
  }
}

figure {
  background-color: #cfe5ff;
  width: 100%;
  max-width: 1920px; /* 최대 너비 제한 (PC 기준) */
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
}

figure p {
  color: #374151;
  font-size: 40px;
  font-family: Pretendard, sans-serif;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #111827;
  height: 160px;
}

footer img {
  width: 20px;
  height: 20px;
}
