@import url(@styles/common/tokens.css);

:root {
  --navbar-btn-width: auto;
  --navbar-btn-height: auto;
  --navbar-margin: 0 var(--spacing-md);
  --header-padding: var(--spacing-sm) 0;
}
@media screen and (min-width: 48rem) {
  :root {
    --navbar-margin: 0 var(--spacing-lg);
  }
}
@media screen and (min-width: 75rem) {
  :root {
    --navbar-btn-width: 8rem;
    --navbar-btn-height: 3rem;
    --navbar-margin: 0 200px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  padding: var(--header-padding);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: var(--navbar-margin);
}
.navbar__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.navbar__logo {
  width: 3.125rem;
  height: 3.125rem;
  display: none;
}
@media screen and (min-width: 75rem) {
  .navbar__logo {
    display: block;
  }
}
.navbar__title {
  font-size: var(--font-size-700);
  font-weight: 700;
  font-family: var(--font-secondary);
  color: var(--primary-color);
}

.navbar__login-btn {
  width: var(--navbar-btn-width);
  height: var(--navbar-btn-height);
  font-weight: 600;
  font-size: var(--font-size-400);
  line-height: 26px;
  text-align: center;
  padding: var(--spacing-sm) var(--spacing-lg);
  color: var(--gray-100-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius-xs);
  border: none;
}
