* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }

/* 공통 CSS */

#wrapper {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    box-sizing: border-box;
}

.nav {
    width: 100%;
}

.gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66%;
    margin: 0 auto;
}

.logo_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.5%;
}

.logo_btn img {
    display: block;
    width: 100%;
    height: auto;
}

.login_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.5%;
    background-color: #3692FF;
    border-radius: 8px;
    font-family: 'Pretendard' sans-serif;
    font-weight: 600;
    color: #F3F4F6;
    text-decoration: none;
}

.login_btn:hover {
    background-color: #1967D6;
}

.header {
    width: 100%;
    background-color: #CFE5FF;
}

.header_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 66%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header_textbox {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
}

.header_txt {
    font-family: 'Pretendard' sans-serif;
    font-weight: 700;
    color: #374151;
}

.header_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3692FF;
    border-radius: 150px;
    font-family: 'Pretendard' sans-serif;
    font-weight: 600;
    color: #F3F4F6;
    text-decoration: none;
}

.header_btn:hover {
    background-color: #1967D6;
}

.header_imgbox {
    width: 66%;
    position: absolute;
    right: 0;
}

.header_imgbox img{
    display: block;
    max-width: 100%;
    height: auto;
}

.contents_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.contents_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contents_card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 59%;
    margin: 0 auto;
    background-color: #FCFCFC;
    overflow: hidden;
}

.card_imgbox {
    width: 58.5%;
}

.card_img {
    max-width: 100%;
    height: auto;
    display: block;
}

.card_textbox {
    display: flex;
    flex-direction: column;
}

.card_textbox span {
    font-family: 'Pretendard' sans-serif;
    font-weight: 800;
    color: #3692FF;
}

.card_textbox h2 {
    font-family: 'Pretendard' sans-serif;
    font-weight: 700;
    color: #374151;
    cursor: pointer;
}

.card_textbox p {
    font-family: 'Pretendard' sans-serif;
    font-weight: 500;
    color: #374151;
}

.contents_card.card2 {
    justify-content: flex-end;
}

.card2_txt_span, .card2_txt_h2, .card2_txt_p {
    text-align: right;
}

.marketing {
    width: 100%;
    background-color: #CFE5FF;
}

.marketing_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 66%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.marketing_txt {
    position: absolute;
    z-index: 1;
}

.marketing_imgbox {
    width: 66%;
    position: absolute;
    right: 0;
}

.marketing_imgbox img{
    display: block;
    max-width: 100%;
    height: auto;
}

.footer {
    width: 100%;
    background-color: #111827;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    width: 66%;
    margin: 0 auto;
}

.footer_info {
    font-family: 'Pretendard' sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #9CA3AF;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
}

.footer_menu a {
    font-family: 'Pretendard' sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #E5E7EB;
    text-decoration: none;
}

.footer_sns {
    display: flex;
}

/* 데스크탑용 CSS */

@media (min-width: 1024px) {
    .nav {
        height: 68px;
    }

    .gnb {
        padding: 0 200px;
        height: 68px;
    }

    .logo_btn {
        height: 48px;
    }

    .login_btn {
        height: 48px;
        font-size: 1rem;
    }

    .header {
        height: 540px;
    }

    .header_textbox {
        gap: 25px;
        margin-bottom: 95px;
    }

    .header_txt {
        font-size: 2.5rem;
        line-height: 1.4;
    }

    .header_btn {
        width: 350px;
        height: 56px;
        font-size: 1.25rem;
    }

    .contents_box {
        height: 720px;
    }

    .contents_card {
        gap: 5.5%;
        border-radius: 15px;
    }

    .card_textbox {
        margin: 20px;
        gap: 30px;
    }

    .card_textbox span {
        font-size: 1rem;
    }

    .card_textbox h2 {
        font-size: 2.5rem;
        line-height: 1.4;
    }

    .card_textbox p {
        font-size: 1.5rem;
        line-height: 1.3;
    }

    .contents_card.card2 {
        gap: 45px;
    }

    .contents_card.card3 {
        gap: 20px;
    }

    .marketing {
        height: 540px;
    }

    .marketing_txt {
        font-family: 'Pretendard' sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        color: #374151;
        line-height: 1.4;
        margin-bottom: 168px;
    }

    .header_img {
        height: 340px;
    }

    .footer {
        height: 160px;
    }

    .footer_container {
        padding: 30px;
    }

    .footer_menu {
        gap: 30px;
    }

    .footer_sns {
        gap: 12px;
    }
}

/* 태블릿용 CSS */

@media (min-width: 768px) and (max-width: 1023px) {
    .gnb {
        display: flex;
    }

    .header {
        height: 300px;
    }

    .marketing {
        height: 300px;
    }
}

/* 모바일용 CSS */

@media (max-width: 767px) {

}
