*{
  box-sizing: border-box;
  border:none;
  margin:0;

}

a{
  text-decoration: none;
}

.join_header{
 display: flex;
 justify-content: center;
 padding-top: 150px;
 padding-bottom:20px;
 align-items: center;
 gap: 30px
}

.join_title{
font-size:67px;
font-weight: 700;
color:#3692FF;
line-height:100%;
}

.container {
margin:0 auto;
width: 640px;
}


.label{
  display:block;
  margin:16px 0;
  color:#1F2937;
  font-size:18px;
  font-weight:700;
  line-height:26px;
}

.login_box{
  background-color: #F3F4F6;
  width:640px;
  height:56px;
  border-radius: 15px;
  padding:16px 20px; 
}

.login_bt{
  width:640px;
  height:56px;
  border-radius:30px;
  color:#F3F4F6;
  background-color: #3692FF;
  margin:30px 0;
  font-size:20px;
  font-weight: 600;
  line-height:32px;
}

.pass_box{
  position: relative;
}

.icon{
  position: absolute;
  bottom:20px;
  left:600px;
  cursor: pointer;
}


.repass_box{
  position: relative;
}

.icon2{
  position: absolute;
  bottom:20px;
  left:600px;
  cursor: pointer;
}

.easy_login{
  display: flex;
  align-items: center;
  background-color: #E6F2FF;
  height:74px;
  border-radius: 8px;
  justify-content: space-between;
  padding:0 20px;


}

#easy_login_text{
color:#1F2937;
font-size:16px;
font-weight: 500;
line-height:26px;
}

.sns{
  display:flex;
  gap: 10px;
}

.sns_img{
  width:42px;
  height: 42px;
}

.already_ppl{
  margin-top:30px;
  margin-bottom: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  font-weight: 500;
  font-size:14px;
}

#already_ppl_info{
  color:#1F2937;
}

#already_ppl_log{
  color:#3692FF;
  text-decoration: underline;
}