@import url(/styles/common/global.css);
@import url(/styles/common/tokens.css);
@import url(/styles/components/header.css);
@import url(/styles/components/footer.css);

:root {
  --section-blue-container-width: 65rem;
  --section-blue-info-max-width: auto;
  --section-blue-height: 33.75rem;
  --section-blue-img-width: 42rem;
  --section-main-height: 45rem;
  --section-main-wrapper-width: 62rem;
  --section-main-img-width: 35.625rem;

  --section-blue-info-margin: 0 0 3.75rem;
  --section-blue-info-bottom-margin: 0 0 10rem;
  --section-main-margin: 0;
  --section-main_wrapper-padding: 0;
}
@media screen and (max-width: 75rem) {
  :root {
    --section-blue-height: 48rem;
    --section-blue-container-margin: 5rem 0 0;
    --section-blue-container-bottom-margin: 5rem 0 0;
    --section-main-margin: 1.875rem 0;
    --section-main_wrapper-padding: var(--spacing-xl);
    --section-main-img-width: 43.5rem;
  }
}
@media screen and (max-width: 48rem) {
  :root {
    --section-blue-img-width: min(100%, 32rem);
    --section-blue-info-max-width: 15rem;
    --section-blue-height: 33.75rem;
    --section-blue-container-margin: 2.5rem 0 0;
    --section-blue-container-bottom-margin: 0;
    --section-main-img-width: 21.5rem;
    --section-blue-info-bottom-margin: 0 0 5rem;
  }
}

.section-blue {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #cfe5ff;
  width: 100%;
  height: var(--section-blue-height);
}
.section-blue__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: var(--section-blue-container-width);
  margin: 0 auto;
}
.section-blue__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: var(--section-blue-info-max-width);
  margin: var(--section-blue-info-margin);
  gap: var(--spacing-xl);
}
.section-blue__info__bottom {
  margin: var(--section-blue-info-bottom-margin);
  width: var(--section-blue-info-max-width);
}

@media screen and (max-width: 75rem) {
  .section-blue__container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .section-blue__info {
    align-items: center;
  }
  .section-blue__info__bottom {
    text-align: center;
  }
}
.section-blue__title {
  font-size: var(--font-size-1000);
  color: var(--gray-700-color);
  word-break: keep-all;
  font-weight: 700;
  line-height: 140%;
}
.section-blue__btn {
  font-size: var(--font-size-500);
  font-weight: 600;
  line-height: 1.625rem;
  text-align: center;
  padding: var(--spacing-md) var(--spacing-xxxxl);
  background-color: var(--primary-color);
  color: var(--gray-100-color);
  border-radius: var(--border-radius-lg);
  border: none;
}
.section-blue__img {
  width: var(--section-blue-img-width);
}

@media screen and (max-width: 48rem) {
  .section-blue__info {
    text-align: center;
  }
  .section-blue__btn {
    font-size: var(--font-size-400);
    padding: var(--spacing-sm) var(--spacing-xxxl);
  }
  .section-blue__title {
    font-size: var(--font-size-700);
  }
}
.section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--section-main-height);
  margin: var(--section-main-margin);
  background-color: #ffffff;
}
.section-main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  gap: var(--spacing-xxl);
  border-radius: var(--border-radius-sm);
  width: var(--section-main-wrapper-width);
  padding: var(--section-main_wrapper-padding);
}
.section-main__wrapper__reverse > .section-main__container {
  text-align: right;
  align-items: flex-end;
}
.section-main__title {
  font-weight: 700;
  font-size: var(--font-size-1000);
  word-break: keep-all;
  line-height: 140%;
  color: var(--gray-700-color);
}
.section-main__img {
  width: var(--section-main-img-width);
}
.section-main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-lg);
}
.section-main__hot-badge {
  font-size: var(--font-size-400);
  font-weight: 700;
  width: 100%;
  color: var(--primary-color);
}
.section-main-description {
  font-size: var(--font-size-600);
  font-weight: 400;
  line-height: 2rem;
  color: var(--gray-700-color);
}
@media screen and (max-width: 75rem) {
  .section-main {
    height: 100%;
  }
  .section-main__wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    gap: var(--spacing-xl);
  }
  .section-main__wrapper__reverse {
    flex-direction: column-reverse;
    align-items: flex-end;
    text-align: right;
    width: auto;
    gap: var(--spacing-xl);
  }
  .section-main__title {
    font-size: var(--font-size-800);
  }
  .section-main-description {
    font-size: var(--font-size-500);
  }
}

@media screen and (max-width: 48rem) {
  .section-main__title {
    font-size: var(--font-size-600);
  }
  .section-main-description {
    font-size: var(--font-size-450);
  }
  .section-main__hot-badge {
    font-size: var(--font-size-400);
  }
}
