@import url(../common/common.css);
@import url(../common/header.css);

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.sign__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  margin-bottom: 35px;
}
.sign__logo {
  width: 103px;
  height: 103px;
}
.sign__title {
  font-size: 66px;
  font-weight: 700;
  font-family: "ROKAF_Sans_Medium";
  color: var(--primary-color);
}
.sign__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.sign__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  cursor: pointer;
}
.sign__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.sign__input {
  width: 640px;
  height: 56px;
  padding: 0 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--gray-100-color);
}
.sign__visibility-icon {
  position: absolute;
  right: 15px;
  bottom: 16px;
  width: 24px;
  height: 24px;
}
.sign__btn {
  width: 100%;
  padding: 16px 124px;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: var(--gray-100-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.sign__sns-login-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 23px;
  gap: 20px;
  border-radius: 8px;
  background-color: #e6f2ff;
}
.sign__sns-login-text {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-800-color);
}
.sign__sns-icon {
  width: 42px;
  height: 42px;
  background-color: #e6f2ff;
  cursor: pointer;
}
.sign__signup-guide {
  width: 100%;
  color: var(--gray-800-color);
  font-size: 14px;
  text-align: center;
}
.sign__signup-link {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: underline;
  margin-left: 5px;
}
/* todo: 요소간 gap 수정하기 */
