@import url(/styles/common/global.css);
@import url(/styles/common/tokens.css);
@import url(/styles/components/header.css);
@import url(/styles/components/footer.css);

:root {
  --sign-form-width: unset;
  --sign-logo-width: 6.25rem;
  --sign-title-font-size: 4.125rem;
  --sign-input-width: 40rem;
  --sign-input-height: 3.5rem;
  --sign-sns-icon-width: 2.625rem;

  --sign-form-padding: 0;
  --sign-header-margin-bottom: 2.125rem;
  --sign-input-padding: 0 20px;
  --sign-btn-padding: 1rem 7.75rem;
  --sign-sns-login-wrapper-padding: 1rem 1.5rem;
}
@media screen and (max-width: 75rem) {
  :root {
    --sign-form-width: 100%;
    --sign-form-padding: 0 40px;
  }
}
@media screen and (max-width: 48rem) {
  :root {
    --sign-form-padding: 0 var(--spacing-md);
    --sign-form-width: min(100%, 25rem);
    --sign-logo-width: 3.2rem;
  }
}
.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.sign__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
  width: 100%;
  margin-bottom: var(--sign-header-margin-bottom);
}
.sign__logo {
  width: var(--sign-logo-width);
  height: var(--sign-logo-width);
}
.sign__title {
  font-size: var(--sign-title-font-size);
  font-weight: 700;
  font-family: "ROKAF_Sans_Medium";
  color: var(--primary-color);
}
.sign__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--sign-form-width);
  gap: var(--spacing-lg);
  padding: var(--sign-form-padding);
}
.sign__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-sm);
  cursor: pointer;
}
.sign__label {
  font-size: var(--font-size-500);
  font-weight: 700;
  line-height: 1.5rem;
}
.sign__input {
  width: var(--sign-input-width);
  height: var(--sign-input-height);
  padding: var(--sign-input-padding);
  border: none;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-400);
  font-weight: 400;
  background-color: var(--gray-100-color);
}
@media screen and (max-width: 75rem) {
  .sign__input {
    width: 100%;
  }
  .sign__input-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 48rem) {
  .sign__label {
    font-size: var(--font-size-400);
  }
  .sign__title {
    font-size: var(--font-size-900);
  }
  .sign__header {
    gap: var(--spacing-sm);
  }
}
.sign__visibility-icon {
  position: absolute;
  background-image: url("/assets/icons/ic_visibility_off.svg");
  background-position: center;
  background-size: cover;
  right: 1rem;
  bottom: 1rem;
  width: var(--font-size-600);
  height: var(--font-size-600);
  cursor: pointer;
}
.sign__btn {
  width: 100%;
  padding: var(--sign-btn-padding);
  border-radius: var(--border-radius-lg);
  border: none;
  font-size: var(--font-size-500);
  font-weight: 600;
  line-height: 2rem;
  color: var(--gray-100-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.sign__sns-login-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--sign-sns-login-wrapper-padding);
  gap: var(--spacing-lg);
  border-radius: var(--border-radius-xs);
  background-color: #e6f2ff;
}
.sign__sns-login-text {
  font-size: var(--font-size-400);
  font-weight: 500;
  color: var(--gray-800-color);
}
.sign__sns-icon {
  width: var(--sign-sns-icon-width);
  height: var(--sign-sns-icon-width);
  background-color: #e6f2ff;
  cursor: pointer;
}
.sign__signup-guide {
  width: 100%;
  color: var(--gray-800-color);
  font-size: var(--font-size-400);
  text-align: center;
}
.sign__signup-link {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: underline;
  margin-left: var(--spacing-xs);
}
