@import url(@/styles/common/tokens.css);

:root {
  --section-blue-container-width: 65rem;
  --section-blue-container-margin: 2.5rem 0 0;
  --section-blue-title-font-size: var(--font-size-800);
  --section-blue-height: 29.375rem;
  --section-blue-info-margin: 0 0 3rem;
  --section-blue-info-bottom-margin: 0 0 5rem;
  --section-blue-btn-padding: 12px;
  --section-blue-img-width: min(100%, 32rem);
  --section-blue-btn-font-size: var(--font-size-450);
  --section-blue-container-bottom-margin: 0;
  --section-main-height: 100%;
  --section-main-margin: 1.875rem 0;
  --section-main-img-width: 21.5rem;
  --section-main_wrapper-padding: var(--spacing-xl);
}
@media screen and (min-width: 48rem) {
  :root {
    --section-blue-height: 43rem;
    --section-blue-title-font-size: var(--font-size-1000);
    --section-blue-container-margin: 5rem 0 0;
    --section-blue-container-bottom-margin: 5rem 0 0;
    --section-blue-info-margin: 0 0 10rem;
    --section-blue-btn-font-size: var(--font-size-500);
    --section-blue-img-width: 42rem;

    --section-main-wrapper-width: auto;
    --section-main-img-width: 43.5rem;
  }
}
@media screen and (min-width: 75rem) {
  :root {
    --section-blue-height: 29.375rem;
    --section-blue-info-margin: 0 0 3.75rem;
    --section-blue-info-bottom-margin: 0 0 10rem;

    --section-main-wrapper-width: 62rem;
    --section-main-img-width: 35.625rem;
    --section-main-margin: 0;
    --section-main-height: 45rem;
    --section-main_wrapper-padding: 0;
  }
}
.section-blue {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #cfe5ff;
  height: var(--section-blue-height);
  width: 100%;
}
.section-blue__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: var(--section-blue-container-width);
  margin: 0 auto;
}
.section-blue__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: var(--section-blue-info-margin);
  gap: var(--spacing-xl);
}
.section-blue__btn {
  font-size: var(--section-blue-btn-font-size);
  padding: var(--section-blue-btn-padding);
  width: 100%;
  background-color: var(--primary-color);
  color: var(--gray-100-color);
  border-radius: var(--border-radius-lg);
  border: none;
  font-weight: 600;
  line-height: 1.625rem;
}
.section-blue__title {
  font-size: var(--section-blue-title-font-size);
  color: var(--gray-700-color);
  text-align: left;
  font-weight: 700;
  line-height: 140%;
}
.section-blue__info__bottom {
  margin: var(--section-blue-info-bottom-margin);
  width: var(--section-blue-info-max-width);
}
.section-blue__img {
  width: var(--section-blue-img-width);
}
@media screen and (min-width: 48rem) {
  .section-blue__info__bottom {
    text-align: center;
  }
}
@media screen and (min-width: 75rem) {
  .section-blue__container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .section-blue__info {
    align-items: flex-start;
  }
  .section-blue__title {
    font-size: var(--font-size-1000);
    word-break: keep-all;
  }
  .section-blue__btn {
    text-align: center;
  }
}

.section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--section-main-height);
  margin: var(--section-main-margin);
  background-color: #ffffff;
}
.section-main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fcfcfc;
  gap: var(--spacing-xl);
  border-radius: var(--border-radius-sm);
  width: var(--section-main-wrapper-width);
  padding: var(--section-main_wrapper-padding);
}
.section-main__wrapper__reverse {
  flex-direction: column-reverse;
  align-items: flex-end;
  text-align: right;
  width: var(--section-main-wrapper-width);
  gap: var(--spacing-xl);
}
.section-main__wrapper__reverse > .section-main__container {
  text-align: right;
  align-items: flex-end;
}
.section-main__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-lg);
}
.section-main__title {
  font-weight: 700;
  font-size: var(--font-size-600);
  word-break: keep-all;
  line-height: 140%;
  color: var(--gray-700-color);
}
.section-main__img {
  width: var(--section-main-img-width);
}
.section-main__hot-badge {
  font-size: var(--font-size-400);
  font-weight: 700;
  width: 100%;
  color: var(--primary-color);
}
.section-main-description {
  font-size: var(--font-size-450);
  font-weight: 400;
  color: var(--gray-700-color);
}

@media screen and (min-width: 48rem) {
  .section-main__title {
    font-size: var(--font-size-800);
  }
  .section-main-description {
    font-size: var(--font-size-500);
    line-height: 2rem;
  }
}

@media screen and (min-width: 75rem) {
  .section-main__wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xxl);
  }
  .section-main__wrapper__reverse {
    gap: var(--spacing-xxl);
  }
  .section-main__wrapper__reverse > .section-main__container {
    text-align: right;
    align-items: center;
  }
  .section-main__title {
    font-size: var(--font-size-1000);
  }
  .section-main-description {
    font-size: var(--font-size-600);
  }
}
