@import url(./font.css);
@import url(./reset.css);
:root {
  --primary-color: #3692ff;
  --gray-900-color: #111827;
  --gray-800-color: #1f2937;
  --gray-700-color: #374151;
  --gray-600-color: #4b5563;
  --gray-500-color: #6b7280;
  --gray-400-color: #9ca3af;
  --gray-200-color: #e5e7eb;
  --gray-100-color: #f3f4f6;
  --gray-50-color: #f9fafb;

  --font-size-300: 0.75rem; /* 12px */
  --font-size-400: 1rem; /* 16px, base */
  --font-size-500: 1.25rem; /* 20px,*/
  --font-size-600: 1.5rem; /* 24px */
  --font-size-800: 2rem; /* 32px */
  --font-size-900: 2.25rem; /* 36px */
  --font-size-1000: 2.5rem; /* 40px */
}
body {
  font-family: pretendard, sans-serif;
}
