nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: var(--white);
  margin: 0 auto;
  padding: 9.5px 200px;
  min-width: 375px;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-title {
  font-family: ROKAFSansMedium;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.title {
  font-size: clamp(1.5rem, 2.2vw, 1.8rem);
  font-weight: 700;
  line-height: 100%;
  color: var(--blue);
  text-decoration: none;
}


.sidebar {
  width: 100%;
  height: 51px;
  margin: 0 auto;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
}



header,
.bottom-banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 540px;
  background-color: #CFE5FF;
  margin: 0 auto;
}

.header-all {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.header-title {
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: clamp(1.8rem, 3.5vw, 2.5rem);
  font-weight: 700;
  line-height: 140%;
  color: var(--gray700);
  
}

main {
  margin-top: 138px;
  margin-bottom: 120px;
}


.content {
  width: 988px;
  height: 444px;
  margin: 138px auto;
  padding: 0 23.5px;
  background-color: #FCFCFC;
  border-radius: 12px;
  display: flex;
  gap: 3rem;
}

.content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 103px 0;
}

.content .content-header {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: var(--blue);
  margin-bottom: 12px;
}

.content .content-title { 
  font-size: clamp(1.8rem, 3.5vw, 2.5rem);
  font-weight: 700;
  line-height: 140%;
  color: var(--gray700);
  margin: 0;
  margin-bottom: 24px;
  white-space: nowrap;
}

.content .content-description {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 500;
  line-height: 32px;
  color: var(--gray700);
  white-space: nowrap;
}

.content #content-left {
  text-align: right;
}

#content-last {
  padding: 0;
}

.bottom-all {
  padding: 143px 405px 0 450px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.bottom-title {
  white-space: nowrap;
  font-size: clamp(1.8rem, 3.5vw, 2.5rem);
  font-weight: 700;
  line-height: 140%;
}

footer {
  width: 100%;
  background-color: #111827;
  padding: 32px 0 108px; 
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  margin: 0 auto; 
  padding: 0 400px;  
  white-space: nowrap;
  gap: 30px;
}

.footer p {
  order: 1;
  color: var(--gray400);
}


.footer .middle {
  color: var(--gray200);
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer .sns {
  display: flex;
  gap: 12px; 
}

.sns a {
  display: flex;
  align-items: center;
}

@media (max-width:1920px) {
  .sidebar,
  .header-all,
  .content,
  .footer,
  .bottom-all {
    max-width: 1920px;
  }

  .content-title {
    white-space: normal;
  }
}

/* 774px 이상 */ 
@media (max-width: 767px) {
    .logo {
      display: none;
    }
    .title {
      font-size: 25.63px !important;
    }
    nav {
      padding: 10px 16px;
    }
    
    .login-btn {
      padding: 12px 43px;
    }

    header {
      height: 540px; 
    }

    .header-all {
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      width: 100%; 
      height: 100%;
      padding-top: 48px;
    }

    .header-title {
      margin-top: 0;
      margin-bottom: 18px;
      font-size: 2rem;
      font-weight: 700;
    }

    #img-header-top{ 
      height: 204px;
    }

    .header-btn {
      width: 240px;
    }

    main {
      margin: 52px 0 82px;  
      display: flex;
      flex-direction: column;
      padding: 0 20px; 
    }

    .content {
      width: 100%;
      display: flex;
      height: auto;
      flex-direction: column; 
      padding: 0; 
      margin: auto;
      margin-bottom: 40px;
      gap: 2rem;

    }

    .content-header {
      font-size: 1rem !important;
    }

    .content-title {
      font-size: 1.5rem !important;
    }

    .mobile-hide-br {
      display: none;
    }

    .content .img {
      width: 100%;
      
    }

    .content-box {
      padding: 0;
      order: 2;
    }

    .content> .img {
      order: 1;
    } 

    .bottom-all {
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%; 
      padding-top: 121px; 
      padding-right: 0;
      padding-left: 0;
      margin: 0;
    }

    .bottom-content {
      margin-bottom: 131px;
    }

    .bottom-title {
      font-size: 2rem;
    }

    #img-header-bottom {
      height: 198px;
    }

    footer { 
      width: 100%;
      height: 160px;
      padding: 32px 32px 30px 32px; 
    }

    .footer {
      justify-content: space-between;
      align-items: center;
      height: auto;
      flex-wrap: wrap;
      padding: 0;
    }

    .footer p {
      order: 3;  
      width: 100%;
    }
}