

.sidebar, .header-all, .content, 
.footer, .bottom-all {
  max-width: 1920px;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; 
  height: 70px;
  background-color: var(--white);
  margin: 0 auto;
  padding: 9.5px 200px;
  min-width: 375px;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-title {
  font-family: ROKAFSansMedium;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center; 
  gap: 10px;

}

.title {
  font-size: clamp(1.5rem, 2.2vw, 1.8rem);
  font-weight: 700;
  line-height: 100%;
  color: var(--blue);
  text-decoration: none; 
}


.sidebar {
  width: 100%; 
  height: 51px; 
  margin: 0 auto;
  background-color: var(--white);
  display: flex; 
  justify-content: space-between; 
}



header ,.bottom-banner{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 540px; 
  background-color: #CFE5FF;
  margin: 0 auto;
}

.header-all { 
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center; 
}

.header-title {
  margin-top: 40px;
  font-size: clamp(1.8rem, 3.5vw, 2.5rem);
  font-weight: 700;
  line-height: 140%;
}


.img {
  width: 579px;
}

main {
  margin-top: 138px;
  margin-bottom: 120px;
}


.content {
  width: 988px;
  height: 444px;
  margin : 138px auto;
  padding: 0 23.5px;
  background-color: #FCFCFC;
  border-radius: 12px; 
  display: flex;  
  gap: 3rem;
} 

.content-box {
  display: flex;  
  justify-content: center; 
  flex-direction: column;
  padding: 103px 0;
}

.content .content-header {
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: var(--blue);
  margin-bottom: 12px;
}

.content .content-title {
  font-size: clamp(1.8rem, 3.5vw, 2.5rem);
  font-weight: 700;
  line-height: 140%;
  color: var(--gray700);
  margin: 0;
  margin-bottom: 24px;
}

.content .content-description {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 500;
  line-height: 32px;
  color: var(--gray700);
}

.content #content-left {
  text-align: right;
}

.bottom-all {
  padding: 143px 405px 0 450px;
  display: flex;
  margin: 0 auto;
  justify-content: center; 
}

.bottom-title {
  white-space: nowrap;
  font-size: clamp(1.8rem, 3.5vw, 2.5rem);
  font-weight: 700;
  line-height: 140%;
}

footer{
  width: 100%;
  background-color: #111827; 
}

.footer {
  display: flex;
  width: 1120px;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 108px;
  gap: 366.5px;
  flex: 1 1 auto;  
  margin: 0 auto;
  white-space: nowrap;
} 

.footer p {
  color: var(--gray400);
}

.footer .middle {
  display: flex;
  gap: 30px;
}

.footer .sns {
  width: 18px;
  height: 18px;
  display: flex;
  gap: 12px;
  align-items: center;
}